html, body {
	color: #fff;
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	width: 100%;
	height: 100%;
	min-height: 100%;

	margin: 0;
	padding: 0;
}

.ayuda {
	display: none;
	width: 100%;
	min-height: 100%;
	background: rgba(0,0,0,0.7);
	position: fixed;
	text-align: center;
}

.ayuda img{
	margin: 20px auto 0 auto;
}

.btn-ayuda {
	position: fixed;
	bottom: 30px;
}

.nostyle	{
	color: #2B552C;
	background: none;
	font-size: 16px;
	position: fixed;
	padding: 18px 0px 16px 0;
	top: 0px;
	left: -5px; 
	border: 0;
	-webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
	text-decoration: none;
}

.nostyle.active {
	left: -9px;
}

.nostyle:focus{
	outline: 0;
}

.head {
	margin-left: 15px;
	padding: 0;
	margin-top: 14px;
	font-size: 22px;
	width: 170px;
}

.head img{
	position: fixed;
	width: 31px;
	height: auto;
}

.head p {
	margin-left: 38px; 
}

.main-box {
	width: 100%;
	-moz-box-shadow:    inset  0  8px 8px -8px #696868;
    -webkit-box-shadow: inset  0  8px 8px -8px #696868;
    box-shadow:        inset  0  8px 8px -8px #696868;
}

.mapa{
	margin: 60px 0 0 0;
	width: auto;
	height: 100vh;
}

.container-fluid{
	margin: 60px 0 0 0;
}

.btn-boton	{
	display: inline-block;
	border-radius: 0;
	border: 0;
	color: #fff;
	width: 15%;
	margin: 2px auto;
	height: auto;
	outline: 0;
}

.btn-boton:hover {
	color: #fff;
}

.btn-boton:focus,
.btn-boton:active {
	outline: 0;
	color: #fff
}

.bg-1 {
	background: #006039;
}

.bg-2 {
	background: #277455;
}

.bg-3 {
	background: #5A8775;
}

.container {
	text-align: center;
	margin: 60px auto 0 auto;

}

.cajaopaca {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	display: none;
}

.introbox {
	display: none;
	position: fixed;
	max-width: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
}

.img-intro {
	margin: 20px 0 0 50px;
}

.img-intro-mobile {
	display: none;
}

.img-intro-mobile1 {
	position: absolute;
	display: none;
	top: 20px;
	right: 100px;
}

.ok-btn {
	position: relative;
	top: 180px;
	left: -150px;
}

.ok {
	display: none;
	position: absolute;
	top: 400px;
	right: 250px;
}

.text-vertical-center {
    text-align: center;
}

.territorios {
	margin-top: 3px;
}

.navbar {
	outline: 0;
	background: #86B287;
	padding:0;
	height: 60px;
}

.seleccion {
	position: fixed;
	top: 12px;
	right: 5px;
	padding-top: 5px;
	width: 110px;
	height: 38px;
	font-size: 18px;
	border-radius: 15px;
	border: 0;
	background: #277455;
	color: #fff;
}


@media(min-width:993px) {

	.container {
		width: 970px;
	}

	.btn-boton	{
		width: 85px;
		height: 85px;
	}

}

@media(max-width:992px) {

	.container {
		width: 620px;
	}

	.btn-boton	{
		width: 85px;
		height: 85px;
	}

}

@media(max-width:768px) {
	.container {
		width: 470px;
	}

	.btn-boton {
		width: 85px;
		height: 85px;
	}
	
	.img-intro {
		width: 80%;
	}

}

@media(max-width: 663px) {
	.ok-btn {
	top: -100px;
	left: 300px;
	}
}

@media(max-width: 480px) {
	.container {
		width: 360px;
	}

	.btn-boton {
		width: 60px;
		height: 60px;
	}
	
	.img-intro {
		display: none;
	}

	.img-intro-mobile {
		margin: 20px 0 0 0;
		width: 90%;
		display: inline;
	}

	.img-intro-mobile1 {
		right: 20px;
		width: 90%;
	}

	.ok-btn {
	top: -20px;
	left: 200px;
	}

	.ok {
	top: 400px;
	right: 150px;
	}

}

@media(max-width: 320px) {
	.container {
		width: 300px;
	}

	.btn-boton {
		width: 60px;
		height: 60px;
	}
}

/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 0;
    width: 250px;
    min-height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 10px;
    line-height: 80px;
}

.sidebar-nav .active{
	background: #4F8D84;
	color: #fff;
}

.sidebar-nav li a {
    font-size: 25px;
    border-bottom: 1.5px solid;
    border-color: rgba(0,0,0,0.3);
    display: block;
    text-decoration: none;
    color: #4A4A4A;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #226764;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

#sidebar-wrapper.active {
    left: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

figure	{
	display: inline-block;
}